<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/home.css">
</head>

<body>
    <div style="font-size: 22px;">KHOA NGOẠI</div>
    <div class="chon_he">
        <div class="box" id="box_1">
            <a href="/ask" class="btn">
                <span class="btn-label">Khoa Tiêu Hóa</span></a>
            <div class="anh-1"></div>
            <div class="vanban">Hệ tiêu hóa là một hệ thống bao gồm các cơ quan trong cơ thể có vai trò lấy thức ăn,
                tiêu hóa thực phẩm sau đó chuyển hóa thành năng lượng và chất dinh dưỡng, rồi đưa các chất thải ra bên
                ngoài.
                Triệu chứng có thể gặp là nôn, đau bụng, sốt, sút cân, chán ăn,...
            </div>
        </div>
        <div class="box" id="box_2">
            <a href="/ask" class="btn">
                <span class="btn-label">KhoaTiết Niệu</span></a>
            <div class="anh-2"></div>
            <div class="vanban">Hệ tiết niệu bao gồm thận, niệu quản, bàng quang và niệu đạo. Hệ cơ quan giúp cơ thể thải những chất lỏng dư thừa và các chất hoà tan từ sự
                 lưu thông máu ra môi trường ngoài. 
                Triệu chứng có thể gặp là đái buốt, đái ra máu, ban đêm bật thức dậy, đái gấp,...
                
            </div>
        </div>
        <div class="box" id="box_3">
            <a href="/ask" class="btn">
                <span class="btn-label">Khoa Bỏng</span></a>
            <div class="anh-3"></div>
            <div class="vanban">Bệnh bỏng (phỏng) là một loại chấn thương đối với da hoặc các mô khác. 
                Triệu chứng có thể gặp là da đỏ, sưng, đau, hoại tử da diện rộng, móng rụng...
                Nguyên nhân do nhiệt quá nóng, do giật điện, do tiếp xúc với hóa chất, do bức xạ, do ma sát
            </div>
        </div>
        <div class="box" id="box_4">
            <a href="/ask" class="btn">
                <span class="btn-label" style="font-size: 17px;">Khoa Cơ Xương Khớp</span></a>
            <div class="anh-4"></div>
            <div class="vanban">Hệ cơ xương tạo ra bộ khung cho cơ thể. 
                Triệu chứng bệnh cơ xương khớp là tình trạng bị suy yếu chức năng của các khớp, dây chằng, cơ bắp, thần kinh, gân và xương sống, 
                cụ thể làm giảm khả năng thực hiện các hoạt động hàng ngày: đau ngón tay, đau cột sống thắt lưng, đau bụng, cánh tay sưng nhẹ,...
            </div>
        </div>
        <a href="/ask" class="btn" style="height: 50px;">
            <span class="btn-label">Ngoại Khoa Tổng Hợp</span></a>
    </div>
</body>
<script>

</script>

</html>